
<div class="intro-box2">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 hidden-xs">
      </div>
      <div class="col-sm-4">
        <h1 class="tools">Tools Used for the Job</h1><hr>
        <p class="tools_ptag">Suspendisse ac volutpat nunc. Aliquam lobortis lorem id enim lobortis, congue tempor nisl fermentum. Donec facilisis enim id dolor auctor, rutrum ultrices enim convallis. Nam pharetra posuere augue ut tempus. Sed malesuada sit amet tellus ut mollis. In lacinia erat idconvallis. Nam pharetra posuere augue ut tempus. Sed malesuada sit amet tellus ut mollis. In lacinia erat id.
        </p>
        <div class="col-xs-offset-5">
          <%= link_to 'https://github.com/WebMasters-TNG/chess_workout' do %>
            <%= image_tag('github.png',:class => 'img-responsive hvr-float') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
