<div class="intro-box">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">
          <div class="col-xs-6 piece">
            <%= image_tag('chess2.jpg',:size => '200x200',:class => 'img-responsive horse') %>
          </div>
          <div class="col-xs-6 piece">
            <%= image_tag('piece2.png',:size => '200x200',:class => 'img-responsive horse') %>
          </div>
          <div class="clearfix"></div>
          <div class="col-xs-6 piece">
            <%= image_tag('piece3.jpg',:size => '200x200',:class => 'img-responsive horse') %>
          </div>
           <div class="col-xs-6 piece">
            <%= image_tag('piece4.png',:size => '200x200',:class => 'img-responsive horse') %>
          </div>
      </div>

      <div class="col-xs-8 col-xs-offset-1 horse-box">
        <h1>Welcome to <span class="text-thin">Chess Workout</span><br>
          What did the Java code say to the C code?<br><br>
          You've got no class
        </h1>
        <p class="lead">
          Suspendisse ac volutpat nunc. Aliquam lobortis
        </p>
      </div>
    </div>
  </div>
</div>
